.section {
    width: 100%;
    height: fit-content;
}
.title {
  font-size: 45px;
  width: 100%;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 0;
  position: relative;

}

.menuList {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 60px;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.menuItem {
  width: calc(50% - 50px);
  margin-bottom: 15px;
}