.menuTitle {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(206, 135, 5);
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  border-top: 3px solid rgb(37, 37, 35);
}

.menuList {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 60px;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.menuItem {
width: calc(50% - 50px);
}