.main {
    background-image: url(../../images/black-pasta-with-copy-space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 568px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-bottom: 200px;
    padding-top: 100px;
  }
  
  .main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 2;
    background: linear-gradient(to top, transparent, aliceblue 100%);
  
  }
  .main::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 2;
    background: linear-gradient(to bottom, transparent, aliceblue 100%);
  
  }
.title {
  font-size: 45px;
  width: 100%;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: auto;
  text-align: center;
}
  .link {
    height: 70px;
    border: none;
    width: 40%;
    margin-bottom: 20px;
  }
  
  .link:hover {
    opacity: 50%;
  }
