.main {
  background-image: url(../../images/black-pasta-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 2;
  background: linear-gradient(to top, transparent, aliceblue 100%);

}

.main::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, aliceblue 100%);

}

.title {
  font-size: 45px;
  width: 100%;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: auto !important;
  text-align: center;
}


.linkContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.link {
  width: 100%;
  height: 70px;
  color: aliceblue;
  font-size: 25px;
  font-weight: 400;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link:hover {
  opacity: 50%;
}


.link.orange {
  background-color: rgb(206, 135, 5);
}

.link.blueviolet {
  background-color: rgb(114, 68, 156);
}
.active {
  background-color: rgb(37, 37, 35) !important;
}