.block {
  background: rgb(37, 37, 35);
  margin: 25px 25px 0 25px;
  padding: 25px;
  width: 31%;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.label {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
}

.input {
  background: #000000;
  border: 2px solid rgb(37, 37, 35);
  border-radius: 5px;
  height: 25px;
  color: aliceblue;
  padding: 10px;
  width: 100%;
}

.button {
  background: #000000;
  color: aliceblue;
  height: 50px;
  padding: 15px;
  border: 2px solid rgb(37, 37, 35);
  border-radius: 5px;
}