.reviews {
  background: #000000;
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 268px);
}

.title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 0 auto 50px;
}

.reviewsList {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: 60px;
  padding: 0;
  margin: 0 30px;
}

.reviewItem {
  width: calc(50% - 50px);
}