.block {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 100px;
  margin: 0px;
  margin-bottom: 50px;
}

.block.orange {
  background-image: url(../../images/dish_14322448.png);
}

.block.blueviolet {
  background-image: url(../../images/rating_11768563.png);
}

.text {
  background-color: rgb(37, 37, 35);
  padding: 20px;
  width: 70%;
  border-radius: 5px;
}